<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Quienes Somos</title>
	<link rel="stylesheet" href="../css/globals.css" />
	<link rel="stylesheet" href="../css/guatechapin.css" />
	<link rel="stylesheet" href="../css/modals.css">
	<link
		href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,100italic,100,500,500italic,900italic,900,700' 
		rel='stylesheet' 
		type='text/css' />
	<script src="../lib/jQuery/jquery.js"></script>
	<script src="../lib/jQuery/serializeObject.js"></script>
	<script src="../lib/jQuery/cookie.js"></script>
</head>
<body class="no-margin">
	<section class="modal no-visibility" id="ModalLogin" >
		<div class="modal-container relative">
			<a class="close">X</a>
			<div id="titulo_cotizacion">
				<h3 class="no-margin">AUTENTICACIÓN</h3>
			</div>
			<div id="cotizacion" class="align-center">
				<form id="form-auth" name="form-auth">
					<div id="container-form-service">
						<fieldset class="block">
							<label>Usuario</label>
							<input type="text" name="nombre" required />
						</fieldset>
						<fieldset class="block">
							<label>Contraseña</label>
							<input type="password" name="password" required />
						</fieldset>
					</div>
					<div class="align-center no-margin container-buttons">
						<button id="btn-auth">ENTRAR</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<div class="container">
		<header class="header">
			<section class="first">
				<div>
					<figure class="logo">
						<img src="../img/Logo Guatechapin.png" class="image-responsive" alt="">
					</figure>
				</div>
				<div>
					<ul class="no-margin no-padding list-none inline-block" style="vertical-align: middle;">
						<li class="inline-block">  
							<div>
								<a href="carrito.html" id="btn-carrito">
									<div class="align-center inline-block" style="vertical-align: middle;">
										<span id="contador-compras" class="block">0</span>
										<span class="icon-cart block" style="font-size: 1.5em;"></span>
									</div>
									<div class="align-center inline-block" style="vertical-align: middle;padding: 0 1em;">
										<span>
											Carrito
										</span>
									</div>
								</a>
							</div>
						</li>
						<li class="inline-block align-center" style="vertical-align: middle;">
							<div>
								<button id="btn-login">INGRESAR</button>
							</div>
						</li>
					</ul>
					<div class="session hidden inline-block align-center" style="vertical-align: middle;margin-left: 1em;">
						<h3 class="no-margin" id="username"></h3>
						<button id="btn-logout">SALIR</button>
					</div>
				</div>
			</section>
			<section class="second">
				<nav class="nav">
					<ul class="no-margin no-padding list-none">
						<li>
							<a href="../index.html" class="no-underline">INICIO</a>
						</li>
						<li>
							<a href="guatechapin.html" class="no-underline item-menu-selected">QUIÉNES SOMOS</a>
						</li>
						<li>
							<a href="colecciones.html" class="no-underline">PRODUCTOS</a>
						</li>
						<li>
							<a href="dondeestamos.html" class="no-underline">DÓNDE ESTAMOS</a>
						</li>
						<li>
							<a href="contacto.html" class="no-underline">CONTACTO</a>
						</li>
						<li>
							<a href="mas.html" class="no-underline">MÁS</a>
						</li>
						<li id="container-mis-compras" class="hidden">
							<a href="compras.html" class="no-underline">MIS COMPRAS</a>
						</li>
					</ul>
				</nav>
			</section>
		</header>
		<section id="about">
			<article>
				<h2>RESEÑA HISTORICA</h2>

				<p>
					Guatechapín nace de la idea de un grupo de estudiantes profesionales de la Maestría en Administración de Negocios de la Universidad Galileo con el objetivo de promover la venta de artesanía típica guatemalteca elaborada en su mayoría manualmente por los principales artesanos de nuestro país, garantizando así el cumplimiento en la producción, en la calidad, y en la comercialización justa de los productos. 
				</p>
				<p>
					La artesanía Guatemalteca es la expresión más genuina de sus habitantes originales,  y gran soporte del sustento de las comunidades. Los artesanos dotados de una vocación al tejido y al bordado utilizan los más hermosos colores para el matizado y la producción de tejidos artesanales que van desde sus tradicionales cortes a una variadísima diversidad de artículos tales como: bolsos, sandalias, mochilas, artículos  de morcilla, ropa para dama, caballero y niños. Cuyo deseo es dar a conocer la cultura y belleza por medio de artesanías típicas hechos en Guatemala para todo el mundo.
				</p>
				<p>
					El reconocimiento de la artesanía guatemalteca ha ido aumentando a nivel mundial, puesto que el mercado mundial lo ha recibido de buena manera. También los guatemaltecos, han tomado de base los diseños tradicionales para ir creando nuevas líneas de productos, adaptándose a las tendencias del mercado. Lo que ha logrado aumentar la potencia de este sector.
				</p>
			</article>
			<article>
				<h2>MISIÓN</h2>
				<p>
					En Guatechapín exportamos las mejores artesanías de Guatemala y contribuimos con el desarrollo del artesano y sus comunidades por medio de la comercialización de sus productos en mercados extranjeros.
				</p>
			</article>
			<article>
				<h2>VISIÓN</h2>
				<p>
					Constituir a Guatechapín como una institución reconocida internacionalmente por la dedicación de promover las riquezas culturales, la comercialización, la venta de artesanías elaboradas con altos estándares de calidad y la garantía de brindar precios competitivos.
				</p>
			</article>
			<article>
				<h2>VALORES</h2>
				<ul class="align-left inline-block" >
					<li>
						Responsabilidad
					</li>
					<li>
						Compromiso
					</li>
					<li>
						Esfuerzo
					</li>
					<li>
						Profesionalismo
					</li>
					<li>
						Calidad
					</li>
					<li>
						Integridad
					</li>
					<li>
						Innovación
					</li>
					<li>
						Visión Global
					</li>
				</ul>
			</article>
			<article>
				<h2>GRUPO GESTOR DEL PROYECTO</h2>
				<figure>
					<img src="../img/grupo gestor.jpg" class="image-responsive" alt="">
					<figcaption>
						<ul class="list-none" style="margin-top: 1em;">
							<li>
								Licda. Marcia Arévalo Mayen
							</li>	
							<li>
								Lic. José Emilio Pérez G.
							</li>
							<li>
								Lic. Frisly Calderón
							</li>
							<li>
								Lic. Wilson Morales Grijalva
							</li>
							<li>
								Ing. Juan Luis Gordillo
							</li>
							<li style="margin-top: 1em;">
								<p>
									Agradecimiento especial:
								</p>
								<p class="no-margin">
									<strong>
										Inga. Sandra Lucrecia Gómez
									</strong>
								</p>
								<p class="no-margin">
				    				Asesora de Proyectos
								</p>
							</li>
						</ul>
						
					</figcaption>
				</figure>

			</article>
		</section>
		<footer>
			<div>
				<h3 class="no-margin">CONTACTO</h3>
				<p class="no-margin">20 Calle A 16-26 Zona 6 Proyecto 4-4, Ciudad de Guatemala, Guatemala, C.A.</p>
			</div>
			<div>
				<h3 class="no-margin">SÍGUENOS EN:</h3>
				<ul class="list-none">
					<li>
						Facebook
					</li>
					<li>
						Twitter
					</li>
				</ul>
			</div>
		</footer>
	</div>
	<script src="../js/app.js"></script>
</body>
</html>