<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Quienes Somos</title>
	<link rel="stylesheet" href="../css/globals.css" />
	<link rel="stylesheet" href="../css/guatechapin.css" />
	<link
		href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,100italic,100,500,500italic,900italic,900,700' 
		rel='stylesheet' 
		type='text/css' />
</head>
<body class="no-margin">
	<div class="container">
		<header class="header">
			<section class="first">
				<div>
					<figure class="logo">
						<div></div>
						<figcaption>
							<small>Orgullosos de lo nuestro!</small>
						</figcaption>
					</figure>
				</div>
				<div>
					<ul class="no-margin no-padding list-none">
						<li>
							<div>
								<button>COMPRAR</button>
							</div>
						</li>
						<li>
							<a href="#">LOGIN</a>
						</li>
					</ul>
				</div>
			</section>
			<section class="second">
				<nav class="nav">
					<ul class="no-margin no-padding list-none">
						<li>
							<a href="../index.html" class="no-underline">INICIO</a>
						</li>
						<li>
							<a href="guatechapin.html" class="no-underline item-menu-selected">QUIÉNES SOMOS</a>
						</li>
						<li>
							<a href="colecciones.html" class="no-underline">COLECCIONES</a>
						</li>
						<li>
							<a href="catalogo.html" class="no-underline">CATÁLOGO</a>
						</li>
						<li>
							<a href="dondeestamos.html" class="no-underline">DÓNDE ESTAMOS</a>
						</li>
						<li>
							<a href="contacto.html" class="no-underline">CONTACTO</a>
						</li>
						<li>
							<a href="mas.html" class="no-underline">MÁS</a>
						</li>
						<li>
							<form>
								<input type="text" placeholder="Buscar..." />
							</form>
						</li>
					</ul>
				</nav>
			</section>
		</header>
		<section id="about">
			<article>
				<h2>MISIÓN</h2>
				<p>
					En Guatechapín exportamos las mejores artesanías de Guatemala y contribuimos con el desarrollo del artesano y sus comunidades por medio de la comercialización de sus productos en mercados extranjeros.
				</p>
			</article>
			<article>
				<h2>VISIÓN</h2>
				<p>
					Constituir a Guatechapín como una institución reconocida internacionalmente por la dedicación de promover las riquezas culturales, la comercialización, la venta de artesanías elaboradas con altos estándares de calidad y la garantía de brindar precios competitivos.
				</p>
			</article>
			<article>
				<h2>VALORES</h2>
			</article>
			<article>
				<h2>RESEÑA HISTORICA</h2>
				<p>
					Guatechapín nace de la idea de un grupo de profesionales con el objetivo de promover la venta de artesanía típica guatemalteca elaborada en su mayoría manualmente por los principales artesanos de nuestro país, garantizando así el cumplimiento en la producción, en la calidad, y en la comercialización justa de los productos. 
				</p>
				<p>
					La artesanía Guatemalteca es la expresión más genuina de sus habitantes originales,  y gran soporte del sustento de las comunidades. Los artesanos dotados de una vocación al tejido y al bordado utilizan los más hermosos colores para el matizado y la producción de tejidos artesanales que van desde sus tradicionales cortes a una variadísima diversidad de artículos tales como: bolsos, sandalias, mochilas, artículos  de morcilla, ropa para dama, caballero y niños. Cuyo deseo es dar a conocer la cultura y belleza por medio de artesanías típicas hechos en Guatemala para todo el mundo.
				</p>
				<p>
					El reconocimiento de la artesanía guatemalteca ha ido aumentando a nivel mundial, puesto que el mercado mundial lo ha recibido de buena manera. También los guatemaltecos, han tomado de base los diseños tradicionales para ir creando nuevas líneas de productos, adaptándose a las tendencias del mercado. Lo que ha logrado aumentar la potencia de este sector.
				</p>
			</article>
			<article>
				<h2>GRUPO GESTOR DEL PROYECTO</h2>
				<figure>
					<img src="../img/grupo gestor.jpg" class="image-responsive" alt="">
				</figure>
			</article>
		</section>
		<footer>
			<div>
				<h3 class="no-margin">CONTACTO</h3>
				<p class="no-margin">20 Calle A 16-26 Zona 6 Proyecto 4-4, Ciudad de Guatemala, Guatemala, C.A.</p>
			</div>
			<div>
				<h3 class="no-margin">SÍGUENOS EN:</h3>
				<ul class="list-none">
					<li>
						Facebook
					</li>
					<li>
						Twitter
					</li>
				</ul>
			</div>
		</footer>
	</div>
</body>
</html>