<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Mas</title>
	
	<link rel="stylesheet" href="../css/globals.css" />
	<link rel="stylesheet" href="../css/mas.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,100italic,100,500,500italic,900italic,900,700' rel='stylesheet' type='text/css' />
</head>
<body class="no-margin">
	<div class="container">
		<header class="header">
			<section class="first">
				<div>
					<figure class="logo">
						<div></div>
						<figcaption>
							<small>Orgullosos de lo nuestro!</small>
						</figcaption>
					</figure>
				</div>
				<div>
					<ul class="no-margin no-padding list-none">
						<li>
							<div>
								<button>COMPRAR</button>
							</div>
						</li>
						<li>
							<a href="#">LOGIN</a>
						</li>
					</ul>
				</div>
			</section>
			<section class="second">
				<nav class="nav">
					<ul class="no-margin no-padding list-none">
						<li>
							<a href="../index.html" class="no-underline">INICIO</a>
						</li>
						<li>
							<a href="guatechapin.html" class="no-underline">QUIÉNES SOMOS</a>
						</li>
						<li>
							<a href="colecciones.html" class="no-underline">COLECCIONES</a>
						</li>
						<li>
							<a href="catalogo.html" class="no-underline">CATÁLOGO</a>
						</li>
						<li>
							<a href="dondeestamos.html" class="no-underline">DÓNDE ESTAMOS</a>
						</li>
						<li>
							<a href="contacto.html" class="no-underline">CONTACTO</a>
						</li>
						<li>
							<a href="mas.html" class="no-underline item-menu-selected">MÁS</a>
						</li>
						<li>
							<form>
								<input type="text" placeholder="Buscar..." />
							</form>
						</li>
					</ul>
				</nav>
			</section>
		</header>
		<section id="content-mas">
			<article>
				<figure>
					<a href="http://www.inguat.gob.gt/inicio.php" target="_blank">
						<img src="../img/inguat.jpg" alt="" class="image-responsive" />
					</a>
				</figure>
			</article>
		</section>
		<footer>
			<div>
				<h3 class="no-margin">CONTACTO</h3>
				<p class="no-margin">20 Calle A 16-26 Zona 6 Proyecto 4-4, Ciudad de Guatemala, Guatemala, C.A.</p>
			</div>
			<div>
				<h3 class="no-margin">SÍGUENOS EN:</h3>
				<ul class="list-none">
					<li>
						Facebook
					</li>
					<li>
						Twitter
					</li>
				</ul>
			</div>
		</footer>
	</div>
</body>
</html>