#gallery  {
	margin: 2em 0;
	position: relative;
}
#gallery  div figure {
	margin: 0;
	padding: 0;
}
#gallery > div > article > * {
	display: inline-block;
	vertical-align: middle;
}
#gallery > div > article figure {
	width: 35%;
}
#gallery > div > article #description-gallery {
	width: 25%;
	padding: 9.2% 0;

}
#gallery > div {
	overflow: hidden;
}
#gallery > div article #description-gallery *:not(button) {
	color: #fff;
}
#gallery > div > article #description-gallery h2 {
	font-size: 4em;
}
#gallery > div > article #description-gallery h3 {
	font-weight: 300;
}
#gallery > div > article #description-gallery button {
	background: #fff;
	border: none;
	color: #03A9F4;
	cursor: pointer;
	font-weight: 600;
	margin-top: 1em;
	padding: 1em;
}
#gallery #description-gallery {
	background: #03A9F4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#clothes h2 {
	font-size: 2.5em;
	margin-bottom: 0.5em;
	color: #696969;
}
#clothes article div > div{
	margin-top: 1em;
}
#clothes article div span {
	margin: 0;
}